<?xml version = "1.0" encoding = "UTF-8"?>
<plugin id="xuch">
	<events>
		<event type="listen" id="Services/AccessControl" />
		<event type="listen" id="Plugin/CourseClassification"/>
		<event type="listen" id="Services/Tree"/>
		<event type="listen" id="Services/Object"/>
		<event type="listen" id="Plugin/EduTracking"/>
		<event type="listen" id="Plugin/WBDInterface"/>
	</events>
</plugin>