<?xml version = "1.0" encoding = "UTF-8"?>
<plugin id="xbkm">
	<events>
		<event type="listen" id="Plugin/BookingModalities" />
		<event type="listen" id="Modules/Course" />
		<event type="listen" id="Services/AccessControl" />
		<event type="raise" id="update" />
		<event type="raise" id="delete" />
	</events>
</plugin>