<?xml version = "1.0" encoding = "UTF-8"?>
<plugin id="xuch">
	<events>
		<event type="listen" id="Modules/Course" />
		<event type="listen" id="Modules/Session" />
		<event type="listen" id="Services/AccessControl" />
		<event type="listen" id="Services/Tracking" />
		<event type="listen" id="Plugin/CourseClassification"/>
		<event type="listen" id="Plugin/Accomodation"/>
		<event type="listen" id="Plugin/Accounting"/>
		<event type="listen" id="Plugin/Venue"/>
		<event type="listen" id="Plugin/OnlineSeminar"/>
		<event type="listen" id="Plugin/TrainingProvider"/>
		<event type="listen" id="Services/Tree"/>
		<event type="listen" id="Services/Object"/>
		<event type="listen" id="Plugin/CourseMember"/>
		<event type="listen" id="Plugin/EduTracking"/>
		<event type="listen" id="Plugin/CopySettings"/>
		<event type="listen" id="Plugin/BookingModalities"/>
		<event type="listen" id="Plugin/BookingApprovals"/>
		<event type="listen" id="Plugin/WBDInterface"/>
	</events>
</plugin>